/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #ae86a7;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #d7cece;
}

body {
    background-color: #b9acb8; /* Cor de fundo */
    /* ou */
    /*background-image: url('C:\Users\User\Documents\Portifolio.jpg'); /* Imagem de fundo */
}
